<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBKS2N2G8JGqJ53fHgMv2BPV6dBu1aFqps</string>
	<key>GCM_SENDER_ID</key>
	<string>170076467475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Johan.Orchard</string>
	<key>PROJECT_ID</key>
	<string>orchard-83942</string>
	<key>STORAGE_BUCKET</key>
	<string>orchard-83942.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170076467475:ios:aea5922f630e65e51c2ae6</string>
</dict>
</plist>